<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Учет выполненных ремонтных работ автотранспорта</h1>

    <div>
        <a href="">Войти</a>
    </div>

    <main>
        <h2>Вы можете отправить свою заявку</h2>

        <div>
            <a href="{% url 'clients_form' %}">Создать заявку</a>
        </div>
    </main>
</body>
</html>